.home_cards{
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    
}

.card_avatar{
    border-radius: 50%;
    width: 50px;
    height: 45px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    object-fit: cover;
}

.card_info{
    text-align: left;
    display: flex;
  
}

.post_info{
    display: flex;
    justify-content: center;
}

.card_image{
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    opacity: 97%;
    filter:blur(0.5px)
}

.card_image:hover{
    cursor: pointer;
    box-shadow: 0 6px 10px 0 black;
    transition: 0.4s ease-in-out;
    opacity: 1;
    filter: blur(0);
}

.hash{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    width: 30%;
    margin-left: 70px;
    margin-top: -20px;
}

.post_hash{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px;
    width: 30%;
    margin-left: 10px;
}

.card_date{
    font-size: 13px;
    color: dimgrey;
    margin-top: -10px;
    margin-left: -90px;
}

.post_date{
    font-size: 13px;
    color: dimgrey;
}

.like_container {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

.card_place{
    font-size: 16px;
    color: dimgray;
}

.icon{
    padding: 4px;
    margin-right: 10px;
}

.icon:hover{
    background-color: rgba(255, 127, 80, 0.125);
    border-radius: 5px;
    transition: 0.5s ease-in;
    cursor: pointer;
  
}

.post_div{
    background-color: white;
    margin: 50px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
}

.post_image{
    height: 554px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 10px;
    object-fit: cover;
}

.right_container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    margin-left: 40px;
    width: 40%;
}

.post_content{
    margin-left: 30px;
}

.textarea{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.textarea textarea {
    border: none;
    text-decoration: none;
    width: 75%;
    height: 60px;
    resize: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.textarea button{
    border-radius: 22px;
    border: none;
    background-color: #00B960;
    font-size: 15px;
    color: white;
   width: 20%;
   padding: 13px;
   margin: 10px;
}

.textarea button:hover{
    background-color: #00944d;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.comments{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: auto;
    width: 90%;
    border-radius: 4px;
transition: 0.5s ease;

}

.scroll{
overflow-y: scroll;  
height: 20rem;  

}

.del_btn{
    font-size: 20px;
    padding: 0.5rem;
}

.del_btn:hover{
    border-radius: 5rem;
    background-color: #00b96019;
    transition: 1s ease;
    cursor: pointer;
    
}